<% include common/header %>
<section class="contents">
	<div class="tit-wrap">
		<h2 class="cont-tit"><%= pageTitle %></h2>
	</div>
	<section class="list-stts">
		<h3 class="hidden">사이트 현황</h3>
		<ul>
			<li>전체 포트폴리오 <strong class="num"><%=portfolios.length%>건</strong></li>
			<li>전체 블로그 <strong class="num"><%=blogs.length%>건</strong></li>
			<li>전체 댓글 <strong class="num"><%=comments.length%>건</strong></li>
		</ul>
	</section>

	<section class="list-feedback">
		<h3 class="hidden">최근 피드백</h3>
		<dl>
			<dt>최근 댓글</dt>
			<% comments.forEach((data,index)=>{ %>
				<% if(index > 4) {return;} %>
				<dd><%= data.name %>&#47;
					<%= data.comments %>&#47;<%= data.date %>&#47;
					<% if(!!data.portfolio_id){ %>
						포트폴리오
					<% }else{ %>
						블로그
					<% } %>
					<a href="">이동하기</a></dd>
			<% }); %>
		</dl>
		<dl>
			<dt>최근 문의</dt>
			<% contacts.forEach((data,index)=>{ %>
				<% if(index > 4) {return;} %>
				<dd><%= data.name %>&#47;
					<%= data.contents %>&#47;
					<%= moment(data.updated_at).format("YYYY.MM.DD hh:mm") %>&#47;
					<%= data.email %>&#47;
					<%= data.category %>&#47;
					<a href="">상세보기</a></dd>
			<% }); %>
		</dl>
	</section>

	<section class="list-table">
		<h3 class="tit">최근 포트폴리오</h3>
		<table>
			<thead>
				<tr>
					<th scrope="col">번호</th>
					<th scrope="col">제목</th>
					<th scrope="col">부제목</th>
					<th scrope="col">날짜</th>
					<th scrope="col">이동</th>
					<th scrope="col">수정</th>
				</tr>
			</thead>
			<tbody>
				<% portfolios.forEach((data,index)=>{ %>
				<% if(index > 4) {return;} %>
				<tr>
					<td><%= data.id %></td>
					<td><%= data.name %></td>
					<td><%= data.subname %></td>
					<td><%= moment(data.date).format("YYYY.MM.DD") %></td>
					<td><a href="/portfolio/<%= data.name %>">이동</a></td>
					<td><a href="">수정</a></td>
				</tr>
				<% }); %>
			</tbody>
		</table>
		<div class="btn-set">
			<div class="btn-left">
				<a href="/admin/portfolio/write" class="btn btn-default">포트폴리오 작성</a>
			</div>
			<div class="btn-right">
				<a href="" class="btn btn-primary">포트폴리오 관리</a>
			</div>
		</div>
	</section>

	<section class="list-table">
		<h3 class="tit">최근 블로그</h3>
		<table>
			<thead>
				<tr>
					<th scrope="col">번호</th>
					<th scrope="col">제목</th>
					<th scrope="col">부제목</th>
					<th scrope="col">날짜</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<div class="btn-set">
			<div class="btn-left">
				<a href="/admin/portfolio/write" class="btn btn-default">블로그 작성</a>
			</div>
			<div class="btn-right">
				<a href="" class="btn btn-success">블로그 관리</a>
			</div>
		</div>
	</section>
</section>
<% include common/footer %>