<% include header %>
<section id="contents" class="contents">
	<h2 class="page-tit"><%= pageTitle %></h2>
	<div>검색어 : <%= query.search%></div>
	
	<p><%= searchCount%>건의 검색결과가 있습니다.</p>


	<section>
		<h3>포트폴리오</h3>
		<ul>
			<% portfolios.forEach(data=>{%>
				<li>
					<a href="/portfolio/<%=data.name%>">
						<%=data.name%>
						<%=data.subname%>
						<%= moment(data.date).format('YYYY/MM/DD')%>
					</a>
				</li>
			<%});%>
		</ul>
	</section>
	<% if (portfolios.length == 0) {%>
		<p>검색결과가 없습니다.</p>
	<%}%>
	<section>
		<h3>블로그</h3>
		<ul>
			<% blogs.forEach(data=>{%>
				<li>
					<a href="/blog/<%=data.id%>">
						<%=data.title%>
						<%=data.category%>
						<%= moment(data.date).format('YYYY/MM/DD')%>
					</a>
				</li>
			<%});%>
		</ul>
	</section>
	<% if (blogs.length == 0) {%>
		<p>검색결과가 없습니다.</p>
	<%}%>
</section>
<% include footer %>