<% include ../common/header %>
<section id="contents" class="contents">
	<h2 class="page-tit"><%= pageTitle %></h2>
	<div>
		<input type="text" class="inp-txt inp-date" name="dateStart" title="검색 시작일 입력">
		<input type="text" class="inp-txt inp-date" name="dateEnd" title="검색 종료일 입력">
		<div class="item">
			<label for="sortTag">태그</label>
			<input type="text" id="sortTag" class="inp-txt" name="tag">
		</div>
		<div class="item">
			<label for="sortKeyword">검색어</label>
			<input type="text" id="sortKeyword" class="inp-txt" name="keyword">
		</div>
		<div class="sort"><input type="submit" value="검색"></div>
	</div>

	<ul>
		<% blogs.forEach(data=>{ %>
		<li>
			<strong><%=data.title%></strong>
			<span><%= moment(data.date).format('YYYY.MM.DD'); %></span>
			<button>recomm</button>
			<button>like</button>
			<div><%=data.contents%></div>
			<div class="tags">
				<% data.tags.forEach(tag=>{ %>
					<span class="tag"><%= tag.name %></span>
				<% }); %>
			</div>
			<a href="/blog/<%=data.title%>">자세히 보기</a>
		</li>
		<% }); %>
	</ul>
</section>
<% include ../common/footer %>