<% include ../common/header %>
<section id="contents" class="contents">
	<h2 class="page-tit"><%= data.name %> <span><%= data.subname %></span></h2>
	<%if(admin){%>
		<a href="/admin/portfolio/modify/<%=data.name%>" class="btn btn-default">수정</a>
	<%}%>
	<span><%= moment(data.date).format("YYYY.MM.DD hh:mm") %></span>
	<img src="<%= data.image %>" alt="">
	<button><%= data.recommend %></button>
	<button onclick="portfolio.recommend('<%= data.name %>')">좋아요</button>
	<div><%- data.contents %></div>
	<div>
		<% data.tags.forEach(data=>{ %>
			<a href="/portfolio?tag=<%= data.name %>" class="tag"><%= data.name %></a>
		<% }); %>
	</div>
	<div>소셜댓글(F, K, T)</div>

	<ul>
		<% data.comments.forEach(data=>{ %>
		<li>
			<%= data.name %> &#47;
			<%- util.sanitize(data.comments) %>
		</li>
		<% }); %>
	</ul>

	<form method="post" action="">
		<textarea class="inp-txt" name="comments"></textarea>
		<input type="text" class="inp-txt" name="name">
		<input type="password" class="inp-txt" name="password">
		<input type="hidden" name="id" value="<%=data.id%>">
		<input type="submit" value="등록">
	</form>
</section>
<% include ../common/footer %>